{% load static %}
<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">{{ note.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">

    </h6>
    <p class="card-text">{{ note.text|truncatewords:10 }}</p>
      {% if note.pdf %}
      <a href="{% url 'pdf_view' note.id %}">{{ note.pdf }}</a>
{% endif %}
      <div>
        <a href="{% url 'edit' note.id %}">Изменить запись</a>
      </div>
      <div>
        <a href="{% url 'delete' note.id %}">Удалить запись</a>
      </div>
  </div>
</div>