{% load static %}
<header>
    <nav class="navbar navbar-light" style="background-color: #e5c7ca">
<div class="container">
  <div class="sample-header-section">
    <h1>Ноты для души</h1>
    <h2>Здесь ты найдешь все, что тебе нужно</h2>
      <nav class="cl-effect-13">
          <a href="{% url 'rules' %}">Правила</a>
          <a href="{% url 'about' %}">О проекте</a>
          <a href="{% url 'index' %}">Главная</a>
          <a href="{% url 'upload' %}">Загрузить ноты</a>
</nav>
  </div>
</div>
    </nav>
</header>