
<!DOCTYPE html>
<html lang="ru">
  <head>
  {% load django_bootstrap5 %}
  {% load static %}
  {% bootstrap_css %}
      {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <body style="background: #659DBD">
    {% include "includes/header.html" %}
    <main>
      <div class="container py-5">
      {% block content %}{% endblock %}
      </div>
    </main>
  {% include "includes/footer.html" %}
  </body>
</html>